$('form').remove();
$('#new_link').show();
$('#question_lists').append('<div class="panel panel-info"><div class="panel-heading"><h3 class="panel-title"><%=@question.title%></div><div class="panel-body"><div class="row"><div class="col-md-5"><%=@question.option_a%></div><div class="col-md-2"><p><strong>OR</strong></p></div><div class="col-md-5"><%=@question.option_b%></div></div><div class="row"><p id="description"><strong>Description:</strong><%=@question.description%></p></div><%=link_to "Edit", edit_question_path(@question)%> | <%=link_to "Delete", question_path(@question), method: :delete, data: {confirm: "Are You Sure?"}%></div></div>');
